<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="This is my website discription">
  <!-- between 10 - 12 keywords -->
  <meta name="keywords" content="web development, web design">
  <!-- not displayed in any search engine -->
  <meta name="robots" content="NOINDEX, NOFOLLOW">

  <title>{{title}}</title>
</head>

<body>
  <!--This is comment-->
  <p>This is just template</p>
</body>

</html>